@CHARSET "UTF-8";
/*******************************************************************************
 *  _____   _      _____   __  __   _____   _   _   _____   ___
 * | ____| | |    | ____| |  \/  | | ____| | \ | | |_   _| / __|
 * |  _|   | |    |  _|   | |\/| | |  _|   |  \| |   | |   \__ \
 * | |___  | |__  | |___  | |  | | | |___  | |\  |   | |    __) |
 * |_____| |____| |_____| |_|  |_| |_____| |_| \_|   |_|   |___/
 *
 ******************************************************************************/



/*******************************************************************************
 *   _____     _      ____    _      _____   ___
 *  |_   _|   / \    | __ )  | |    | ____| / __)
 *    | |    / _ \   |  _ \  | |    |  _|   \__ \
 *    | |   / ___ \  | |_) | | |__  | |___   __) )
 *    |_|  /_/   \_\ |____/  |____| |_____| |___/
 *
 ******************************************************************************/

.table tr th,
.table-striped tr th {
	background-color: #DD4814 !important;
	color: #FFF;
	border-color: #DD4814 !important;
	font-weight: bold;
}


/*******************************************************************************
 *  ____  _  _    _____  ____   ____  ___
 * |  __|| || |  |_   _||  _ \ | ___|/ __)
 * | |_  | || |    | |  | |_) ||  _| \__ \
 * |  _| | || |__  | |  |  _ < | |__  __) )
 * |_|   |_||____| |_|  |_| \_\|____||___/
 *
 ******************************************************************************/
.filters .filter-content {
	display: none;
}
.filters #hide {
	display: none;
}
.filters #hide, .filters #show {
	cursor: pointer;
}
.filters legend {
	
}


/*******************************************************************************
 *   ____   ___    ____    __  __   ___
 *  |  __| / _ \  |  _ \  |  \/  | / __|
 *  | |_  | | | | | |_) | | |\/| | \__ \
 *  |  _| | |_| | |  _ <  | |  | |  __) |
 *  |_|    \___/  |_| \_\ |_|  |_| |___/
 *
 ******************************************************************************/


/*******************************************************************************
 *   __  __   _   ___     ___
 *  |  \/  | |_| / __|   / __|
 *  | |\/| | | | \__ \  | |
 *  | |  | | | |  __) | | |__
 *  |_|  |_| |_| |___/   \___|
 *
 ******************************************************************************/
.alert-perm_success {
	background-image: linear-gradient(to bottom, #DFF0D8 0px, #C8E5BC 100%);
	background-repeat: repeat-x;
	border-color: #B2DBA1;
}

.icon, .tip { vertical-align: middle; border:0; margin:2px 3px; }
.block-btn {
	margin-top: 20px;
	margin-bottom: 10px;
}
.block-btn a {
	text-decoration: none;
}

.inline { display: inline-block; text-wrap: avoid; margin-left: 3px; }

.ui-datepicker { z-index:1000 !important; }

.up-down {
	color: #FFF;
}

/*
 * teams & referees status colors
 */
.status { font-weight: bold; }
.status_OK { color: #00CC00; }
.status_F, .status_I, .status_R { color: #CC0000; }


.ui-datepicker-month, .ui-datepicker-year {
	color:#333;
}

/* end of file elements.css */